<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="public/css/style.css">
    <title>Add new snippet</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="public/login.php">AS</a>
        </div>
        <ul class=menu>
            <li class="item"><a href="#">Register</a></li>
            <li class="item"><a href="#">Login</a></li>
            <li class="item btn btn-call"><a href="#">Browse</a></li>
        </ul>
    </nav>
    <div class="background">
        <div class="center-box">
            <div class="box-title"><p>Add new snippet</p></div>
            <div class="dual-box-content">
                <div class="box-content">
                    <form>
                        <input name="title" type="text" placeholder="Title">
                        <textarea placeholder="Description"></textarea>
                        <textarea placeholder="Instruction"></textarea>
                        <label><input type="checkbox" name="consent" value="consent">I agree to selling my soul</label>
                    </form>
                </div>
                <div class="box-content">
                    <form>
                        <p>Choose platforms</p>
                        <select name="platforms" id="platforms1">
                            <option value="windows">Windows</option>
                            <option value="linux">Linux</option>
                            <option value="macos">MacOS</option>
                            <option value="photoshop">Adobe Photoshop</option>
                            <option value="illustrator">Adobe illustrator</option>
                        </select>
                        <select name="platforms" id="platforms2">
                            <option value="windows">Windows</option>
                            <option value="linux">Linux</option>
                            <option value="macos">MacOS</option>
                            <option value="photoshop">Adobe Photoshop</option>
                            <option value="illustrator">Adobe illustrator</option>
                        </select>
                        <p>Add screenshots:</p>
                        <label class="border-label"><input type="file" id="screenshot_file" name="screenshot_file">+</label>
                        <p>Add snippet:</p>
                        <label class="border-label"><input type="file" id="snippet_file" name="snippet_file">+</label>
                    </form>
                </div>
            </div>
            <div class="box-buttons">
                <button class="btn box-btn btn-primary"type="submit">Login</button>
            </div>
        </div>
    </div>

</body>
</html>