<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>AutoScript</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="../login.php">AS</a>
        </div>
        <ul class=menu>
            <li class="item"><a href="#">Register</a></li>
            <li class="item"><a href="#">Login</a></li>
            <li class="item btn btn-call"><a href="#">Browse</a></li>
        </ul>
    </nav>
    <div class="background">
        <div class="big-logo"><p>AutoScript</p></div>
        <div class="center-box" id="landing-center-box">
            <div class="box-title"><p>Automate your life and business</p></div>
            <div class="box-content">
                <p>Browse 1000+ scripts and automation snippets
                for professional tools such as Adobe Photoshop and Illustrator
                </p>
                <hr>
                <p>Sell your scripts to help other people</p>
            </div>
            <div class="box-buttons">
                <button class="btn box-btn btn-primary small-btn" type="submit">Sign Up</button>
                <button class="btn box-btn btn-call small-btn" type="submit">Browse</button>
            </div>
        </div>
    </div>

</body>
</html>