<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Register Page</title>
</head>
<body>
    <nav>
        <div class="logo">
            <a href="../login.php">AS</a>
        </div>
        <ul class=menu>
            <li class="item"><a href="#">Register</a></li>
            <li class="item"><a href="#">Login</a></li>
            <li class="item btn btn-call"><a href="#">Browse</a></li>
        </ul>
    </nav>
    <div class="container">
        <div class="center-box">
            <div class="box-title"><p>Register</p></div>
            <div class="dual-box-content">
                <div class="box-content">
                    <form>
                        <input name="email" type="text" placeholder="email@email.com">
                        <input name="password" type="password" placeholder="password">
                        <input name="repeat_password" type="password" placeholder="repeat password">
                        <label><input type="checkbox" name="consent" value="consent">I agree to selling my soul</label>
                    </form>
                </div>
                <div class="box-content">
                    <p>Choose platforms you use:</p>
                    <form>
                        <select name="platforms" id="platforms1">
                            <option value="windows">Windows</option>
                            <option value="linux">Linux</option>
                            <option value="macos">MacOS</option>
                            <option value="photoshop">Adobe Photoshop</option>
                            <option value="illustrator">Adobe illustrator</option>
                        </select>
                        <select name="platforms" id="platforms2">
                            <option value="windows">Windows</option>
                            <option value="linux">Linux</option>
                            <option value="macos">MacOS</option>
                            <option value="photoshop">Adobe Photoshop</option>
                            <option value="illustrator">Adobe illustrator</option>
                        </select>
                        <select name="platforms" id="platforms3">
                            <option value="windows">Windows</option>
                            <option value="linux">Linux</option>
                            <option value="macos">MacOS</option>
                            <option value="photoshop">Adobe Photoshop</option>
                            <option value="illustrator">Adobe illustrator</option>
                        </select>
                    </form>
                </div>
            </div>
            <div class="box-buttons">
                <button class="btn box-btn btn-primary"type="submit">Login</button>
            </div>
        </div>
    </div>

</body>
</html>