
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font: normal normal 300 1em Poppins;
}

ul {
    list-style-type: none;
}

p {
    line-height: 1.7em;
    margin: 0;
    font: normal normal 400 22px/37px Poppins;
    font-size: 1.3em;
    text-align: left;
    color: #FFFFFF;
}

/* navbar */
nav {
    background: #0A0000 0% 0% no-repeat padding-box;
    box-shadow: 0px 6px 5px #00000029;
    opacity: 0.8;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    height: 7vh;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}
.menu {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu li {
    padding: 0 10px;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo a {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    color: #FF5757;
}

.item:not(.button) a:hover,
.item a:hover::after {
    color: #ccc;
}
/* end navbar */

.background {
    width: 100vw;
    height: 93vh;
    background: transparent linear-gradient(180deg, #FF5757 0%, #005D7E 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* centered box styling */
.center-box {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0A0000 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 0.85;
}

.box-title {
    font-size: 1.5em;
    color: #FFFFFF;
    font-weight: bold;
    text-align: left;
    width: 100%;
    height: 10%;
}

.box-title p {
    border-bottom: 2px solid #FFFFFF ;
    margin: 2% 3%;
    font-size: 1em;
}

.box-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 70%;
    padding: 3% 0;
}

.dual-box-content .box-content {
    height: 100%;
}


.box-buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 20%;
}
/* end centered box styling */

/* form sytling */
form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

input {
    width: 80%;
    outline: none;
    opacity: 1;
    font-size: 1.3em;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
}

input:hover {
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #FFFFFF;
}

input:focus {
    background-color: transparent;
    outline: none;
}

textarea {
    width: 80%;
    height: 100px;
    outline: none;
    opacity: 1;
    font-size: 1.3em;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
    resize: none;
    margin-bottom: 2%;
}

textarea:hover {
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #FFFFFF;
}

input:focus {
    background-color: transparent;
    outline: none;
}

label {
    font-size: 1.2em;
    color: #fff;
    font-weight: medium;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border-label {
    border: 1px solid #FFFFFF;
}

.border-label:hover {
    background-color: #FFFFFF;
    color: #000;

}

input[type="file"] {
    display: none;
}

input[type='checkbox']{
    background-color: transparent;
    margin: 0 5px 0 0;
    border: 0;
    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
}

select {
    width: 80%;
    outline: none;
    opacity: 1;
    font-size: 1.3em;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #FFFFFF;
}

select:hover {
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid #FFFFFF;
}

select:focus {
    background-color: transparent;
    outline: none;
}

select > option {
    background: #1B0E10;
    border: 0;
    outline: none;
}
/* end form sytling */


.btn {
    border-radius: 3px;
    padding: 0;
    border: none;
    background: none;

}


.btn-call {
    background: #FF5757 0% 0% no-repeat padding-box;
}

.btn-primary {
    background: #005D7E 0% 0% no-repeat padding-box;
}

.box-btn:hover {
    color: #c0c0c0;
}

.box-btn {
    text-align: center;
    font-size: 1.4em;
    font-weight: medium;
    color: #FFFFFF;
    width: 50%;
}

.small-btn {
    width: 30%;
}

.dual-box-content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 70%;
}

/* landing page */
.big-logo p {
    font: normal normal bold 125px/153px Poppins;
    font-size: 10vw;
    color: #0A0000;
    opacity: 0.64;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

#landing-center-box {
    height: 70%;
}

#landing-center-box .box-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25%;
}

#landing-center-box .box-title p {
    border: none;
    font-weight: bold;
    font-size: 4vw;
    color: #FFFFFF;
}

#landing-center-box .box-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 55%;
}

#landing-center-box .box-content p {
    font-size: 4vh;
    text-align: center;
    padding: 2% 3%;
}

#landing-center-box .box-buttons {
    height: 20%;
}

hr {
    width: 40%;
    height: 1%;
    background-color: #fff;
    border: none;
    opacity: 0.7;
}
/* end landing page */


/* snippet gallery */
.background-long {
    width: 100%;
    min-height: 100vh;
    height: auto;
    background: transparent linear-gradient(180deg, #FF5757 0%, #005D7E 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.gallery-container {
    width: 80%;
    margin: 5vh 0 0 0;
}

.search {
    width: 100%;
    height: 8%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #0A0000 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 0.85;
    padding: 2% 3%;
    margin-bottom: 1%;
}

.search input {
    width: 100%;
    outline: none;
    opacity: 1;
    font-size: 1.3em;
    color: #FFFFFF;
    background-color: transparent;
    border: none;
}

.snippet-gallery ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
}

.snippet-gallery li {
    background: #0A0000 0% 0% no-repeat padding-box;
    border-radius: 3px;
    height: 50vh;
    opacity: 0.85;
    margin: 1% 0;
    padding: 7% 7%;
}


/* end snippet gallery */

/* snippet */

.snippet {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}

.snippet-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 10%;
    width: 100%;
    padding-bottom: 5%;
    margin-bottom: 3%;
    border-bottom: 1px solid #FFFFFF;
}

.snippet-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: left;
    height: 100%;
}

.snippet-title p {
    font-size: 1.5em;
    line-height: 1em;
    padding: 0;
    color: #FFFFFF;
    font-weight: medium;
}

.snippet-author p {
    font-size: 0.8em;
    line-height: 1em;
    padding: 0;
    color: #FFFFFF;
    font-weight: normal;
    opacity: 0.7;
}

.snippet-description p {
    font-size: 1em;
    line-height: 1em;
    color: #FFFFFF;
    text-align: left;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;

}

.snippet-description {
    height: 70%;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 3%;
}

.snippet-show-more {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.7;
    padding-top: 3%;
}

/* end snippet */

/* snippet-form */
input[name="description"] {
    height: 100%;
}

/* end snippet-form */

/* snippet-view */
.snippet-view {
    width: 80%;
    height: auto;
    margin: 5vh 0 0 0;
    padding: 3%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #0A0000 0% 0% no-repeat padding-box;
    border-radius: 3px;
    opacity: 0.85;
}

.snippet-view-title {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 10%;
    width: 100%;
    padding-bottom: 5%;
    margin-bottom: 3%;
    border-bottom: 1px solid #FFFFFF;
}

.snippet-view-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 10%;
    width: 100%;
    padding-bottom: 5%;
    margin-bottom: 3%;
    border-bottom: 1px solid #FFFFFF;
}

.snippet-view-info {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: left;
    height: 100%;
}

.snippet-view-title p {
    font-size: 1.5em;
    line-height: 1em;
    padding: 0;
    color: #FFFFFF;
    font-weight: medium;
}

.snippet-view-author p {
    font-size: 0.8em;
    line-height: 1em;
    padding: 0;
    color: #FFFFFF;
    font-weight: normal;
    opacity: 0.7;
}

h3 {
    font-size: 1.5em;
    line-height: 2em;
    padding: 0;
    color: #FFFFFF;
    font-weight: medium;
    opacity: 0.9;
}

.snippet-view-text p {
    font-size: 1em;
    line-height: 1em;
    color: #FFFFFF;
    text-align: left;
    opacity: 0.7;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 100%;

}

.snippet-view-text {
    height: 70%;
    border-bottom: 1px solid #FFFFFF;
    padding-bottom: 3%;
}

#snippet-view-buttons {
    margin-top: 3vh;
}


/* end snippet-view */